<div class="footer">
    <div class="flex-container">
        <div class="footer-text">
            <% if (theme.footer.other_info.enable) {%>
                <%= theme.footer.other_info.content %>
                <br>
            <% }%>
            <% if (theme.footer.copyright_info.enable) {%>
                <%= theme.footer.copyright_info.author %> | 
            <% }%>
            <% if (theme.footer.powered_by.enable) {%>
                Powered by <a href="https://hexo.io/">Hexo</a> & <a href="https://hexo.io/">Frame</a>
            <% }%>    
            <div id="phone">03-5715131 #33466</div>
            <div id="email">lykuo@life.nthu.edu.tw</div><div id="addr">國立清華大學 生命科學館一管 327室 College of Life Science, National Tsing Hua University</div>
        </div>
    </div>
</div>