<div class="profile">
    <div class="post-content profile-content">
        <div class="profile-body">
            <%=theme.profile.body%>
        </div>
    </div>

    <div class="profile-custom">
        <!--<div id="fan_page" class="profile-custom-left"></div>-->
        <iframe id="fan_page" class="profile-custom-left"
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKuofernlabTW&tabs=timeline&width=500&height=700&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            target="_top"
            scrolling="no" frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; ">
        </iframe>
            
        <div class="profile-custom-right">
            <a href="https://www.researchgate.net/lab/Li-Yaung-Kuo-Lab-2"><img src="images/researchgate_color.svg"></a>
            <a href="https://twitter.com/KuoFernLab"><img src="images/twitter.svg"></a>
            <a href="https://www.instagram.com/kuofernlab/"><img src="images/instagram_color.svg"></a>
            <a href="https://calendar.google.com/calendar/u/0/embed?src=kuo_fern_lab%40gapp.nthu.edu.tw&ctz=Asia%2FTaipei"><img src="images/google_calendar_old.svg"></a>
        </div>

    </div>

</div>
